<template>
  <div>
    <h2>Spellen</h2>
    <div class="row">
      <div class="col-auto">
        <game-selector :games="activeGames" @selectGame="currentGame = $event"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <board v-if="currentGame" :game="currentGame"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import GameSelector from '@/components/GameSelector.vue';
import Board from '@/components/Board.vue';
import { Game } from '@/models/game';

@Component({
  components: {
    GameSelector,
    Board
  }
})
export default class Games extends Vue {
  private games: Game[] = [];
  private currentGame: Game | null = null;

  get activeGames() {
    return this.games.filter(g => g.status === 'active');
  }

  async created() {
    this.games = await this.$http.getGames();
  }
}
</script>
