<template>
  <div>
<!--    <grid :board="game.board"></grid>-->
    <canvas ref="canvas" width="1000" height="300"></canvas>
    <tile-rack :tiles="game.tile_rack"/>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import TileRack from '@/components/TileRack.vue';
import Grid from '@/components/Grid.vue';
import { Game } from '@/models/game';

@Component({
  components: {
    TileRack,
    Grid
  }
})
export default class Board extends Vue {
  @Prop() game!: Game;

  @Watch('game', { immediate: true }) onGameChanged() {
    this.$nextTick(() => {
      const canvas = this.$refs.canvas as HTMLCanvasElement;
      const context = canvas.getContext('2d');
      if (context === null) {
        console.error('Context of canvas is null, aborting...');
        return;
      }
      context.clearRect(0, 0, canvas.width, canvas.height);

      console.log(this.game.board);

      let x = 0;
      for (const tileSet of this.game.board) {
        for (const tile of tileSet.tiles) {
          context.beginPath();
          context.strokeRect(x, tileSet.level, 50, 50);

          if (tile.isJoker) {
            context.fillText('J', x + 25, 25);
          } else {
            context.fillStyle = tile.color!.valueOf();
            context.fillText(`${tile.value}`, x + 25, 25);
          }

          x += 50;
        }
        x += 100;
      }
    });
  }
}
</script>
