<template>
  <div>
    <select class="custom-select" v-model="selectedGame" @change="onSelectGame">
      <option selected disabled>Select game</option>
      <option v-for="game in games" :key="game.uri" :value="game">
        <span v-for="participant in game.participants" :key="participant.account_id">
          <template v-if="participant.account_id !== $http.account.id">
            {{ participant.username }}
          </template>
        </span>
      </option>
    </select>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Game } from '@/models/game';

@Component
export default class GameSelector extends Vue {
  @Prop() private games!: Game[];

  private selectedGame: Game | null = null;

  onSelectGame() {
    this.$emit('selectGame', this.selectedGame);
  }
}
</script>

<style lang="scss" scoped>
.select-game-container {
  border: 1px solid $black;
  cursor: pointer;

  :hover {
    background-color: $green;
  }

  &.selected {
    background-color: $primary;
  }

  .select-game {
    padding: 1rem;
  }
}
</style>
