<template>
  <div class="tile-container">
    <span v-if="tile.isJoker">J</span>
    <span v-else :class="tileColorClass">{{ tile.value }}</span>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Tile, Color } from '@/models/tile';

@Component
export default class TileComponent extends Vue {
  @Prop() tile!: Tile;

  get tileColorClass() {
    switch (this.tile.color) {
      case Color.Black:
        return 'tile-black';
      case Color.Red:
        return 'tile-red';
      case Color.Yellow:
        return 'tile-yellow';
      default:
        return 'tile-blue';
    }
  }
}
</script>

<style lang="scss" scoped>
.tile-container {
  border: 1px solid $black;
  width: 2rem;
  text-align: center;

  .tile-black {
    color: $black;
  }

  .tile-red {
    color: $red;
  }

  .tile-yellow {
    color: $yellow;
  }

  .tile-blue {
    color: $blue;
  }
}
</style>
