<template>
  <div class="tile-rack footer">
    <div class="tile-rack">
      <div v-for="tile in tiles" :key="tile.color + tile.value + tile.isJoker + tile.variant" class="tile">
        <tile-component :tile="tile"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import TileComponent from '@/components/TileComponent.vue';
import { Tile } from '@/models/tile';

@Component({
  components: {
    TileComponent
  }
})
export default class TileRack extends Vue {
  @Prop() tiles!: Tile[];
}
</script>

<style lang="scss" scoped>
.tile-rack {
  display: flex;
  position: absolute;
  bottom: 0;

  .tile :not(:first-child) {
    margin-left: 10px;
  }
}
</style>
